.card {
  width: 274px;
  /* height: 426px; */
  margin: 0;
}

.imageWrap {
  position: relative;
  width: 274px;
  height: 268px;
  margin-bottom: 14px;
}

.image {
  height: 100%;
  margin-bottom: 14px;
  object-fit: cover;
  border-radius: 14px;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.071%
    ),
    rgb(243, 243, 242);
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(18, 20, 23);
}

.titleModel {
  color: rgb(52, 112, 255);
}

.subtitle {
  display: flex;
  align-items: center;

  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stroke::after {
  content: "";
  display: inline-block;
  height: 16px;
  width: 1px; /* Ширина вашої вертикальної лінії */
  background-color: rgba(18, 20, 23, 0.1); /* Колір лінії */
  margin: 0 6px; /* Відстань між словами і лінією */
}

.button {
  display: block;
  border: none;
  margin-top: 24px;
  padding: 12px 99.5px;
  color: #ffffff;
  font-family: Manrope;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  background-color: rgb(52, 112, 255);
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(11, 68, 205);
}

.like {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
}
