.header {
  position: fixed;
  width: 100%;
  background-color: var(--backdrop-color-white);
  z-index: 100;
}

.container {
  height: 80px;
  width: 320px;
  padding: 10px 15px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 1214px) {
  .container {
    width: calc(1214px - 30px);
  }
}

@media only screen and (max-width: 767px) {
  .navWrap {
    display: flex;
    align-items: center;
    width: 288px;
    justify-content: space-between;
  }
}

.navWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 4px;
}

@media only screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

.logo {
  height: 60px;
  margin-right: auto;
}

.navigationSection {
  display: none;
}

.navigationSection.active {
  position: absolute;
  top: 20px;
  right: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 170px;
  padding: 12px 0;
  gap: 4px;

  background-color: var(--primary-color-white);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(18, 20, 23, 0.5);
  border-radius: 14px;
}

@media only screen and (min-width: 768px) {
  .navigationSection {
    display: flex;
  }
}

.burgerWrap {
  display: block;
  width: 36px;
  height: 36px;
  margin-left: 10px;
}

.burger {
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin-left: 10px;
}

.burger:hover {
  stroke: var(--secondary-color-blue);
}

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.mainLink {
  display: none;
}

.catalogLink,
.favoritesLink,
.tel {
  font-size: 14px;
  font-weight: 500;

  color: var(--primary-color-blue);
  background-color: transparent;

  border-radius: 12px;
  padding: 4px;

  transition: background-color 0.3s;
}

.catalogLink:hover,
.favoritesLink:hover,
.tel:hover {
  color: var(--primary-color-white);
  background-color: var(--secondary-color-blue);
  border-radius: 12px;
  padding: 4px;
}

@media only screen and (min-width: 768px) {
  .mainLink {
    display: block;
  }

  .mainLink,
  .catalogLink,
  .favoritesLink,
  .tel {
    font-size: 16px;
    font-weight: 500;

    color: var(--primary-color-blue);
    background-color: transparent;

    border-radius: 12px;
    padding: 12px 30px;
    transition: background-color 0.3s;
  }

  .tel {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
  }

  .mainLink:hover,
  .catalogLink:hover,
  .favoritesLink:hover,
  .tel:hover {
    color: var(--primary-color-white);
    background-color: var(--secondary-color-blue);
    border-radius: 12px;
    padding: 12px 30px;
  }
}

.active {
  color: var(--primary-color-white);
  background-color: var(--primary-color-blue);
  border-radius: 12px;
  padding: 4px;
}

@media only screen and (min-width: 768px) {
  .active {
    color: var(--primary-color-white);
    background-color: var(--primary-color-blue);
    border-radius: 12px;
    padding: 12px 30px;
  }
}
