.header {
  position: fixed;
  width: 100%;
  background-color: var(--backdrop-color-white);
  z-index: 100;
}

.container {
  height: 80px;
  width: 1214px;
  padding: 0 15px;
  margin: 0 auto;
}

.navigation,
.list {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-right: 100px;
}

.tel {
  margin-left: auto;
}

.mainLink,
.catalogLink {
  margin-right: 10px;
}

.mainLink,
.catalogLink,
.favoritesLink,
.tel {
  font-size: 16px;
  font-weight: 500;

  color: var(--primary-color-blue);
  background-color: transparent;

  border-radius: 12px;
  padding: 12px 50px;
  transition: background-color 0.3s;
}

.mainLink:hover,
.catalogLink:hover,
.favoritesLink:hover,
.tel:hover {
  color: var(--primary-color-white);
  background-color: var(--secondary-color-blue);
  border-radius: 12px;
  padding: 12px 50px;
}

.active {
  color: var(--primary-color-white);
  background-color: var(--primary-color-blue);
  border-radius: 12px;
  padding: 12px 50px;
}
