@import-normalize; /* bring in normalize.css styles */

:root {
  --primary-color-white: rgb(255, 255, 255);
  --primary-color-black: rgb(18, 20, 23);
  --primary-color-blue: rgb(52, 112, 255);
  --primary-color-grey: rgb(138, 138, 137);

  --secondary-color-blue: rgb(11, 68, 205);
  --secondary-color-black: rgba(18, 20, 23, 0.5);
  --secondary-color-grey: rgb(247, 247, 251);

  --backdrop-color-black: rgba(255, 255, 255, 0.9);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body-scroll-lock {
  overflow: hidden;
}

.container {
  width: 1214px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  font-family: "Manrope";
  display: block;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
