.dropdownBrand,
.dropdownPrice {
  position: absolute;
  width: 224px;
  height: 272px;
  left: 0px;
  top: 52px;
  padding: 14px 18px;
  overflow-y: scroll;
  z-index: 100;

  border: 1px solid var(--secondary-color-black);
  border-radius: 14px;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  background: var(--primary-color-white);
}

.dropdownPrice {
  width: 125px;
}

.item {
  color: rgba(18, 20, 23, 0.2);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 8px;
  cursor: pointer;
}

.item:last-child {
  margin-bottom: 0px;
}
